html {
    height: 100%;
    background-color: black
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
    color:red;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar{
    display:flex;
    justify-content:space-around;
    
}
.header{
    display:flex;
    justify-content:center;
    color:grey;
    margin:10px;
    font-weight:bold;
    font-family:'Quattrocento Sans', sans-serif;
    
    
}
.footer{
    display:flex;
    justify-content:center;
}
.aboutMain{
    display:flex;
    width:50%;
    
}
.leftPane{
    display:flex;
    
}
.rightPane{
    display:flex;
    width:34%;
}